:root {
  // colors
  --color-brand-main: #029581;
  --color-brand-light: #319f9a;
  --color-brand-dark: #445781;
  --color-text: #060a14;
  --color-highlight: #fc8715;

  // font
  --body-font: 'Oswald', sans-serif;
  --normal-font-size: 1.3rem;
  --small-font-size: 0.9rem;

  // font wight
  --font-small: 300;
  --font-regular: 400;
  --font-semi-bold: 500;
  --font-bold: 600;
}
