.article-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.2rem solid var(--color-brand-main);
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  max-height: 20rem;

  &__title {
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
  }

  &__text,
  &____date,
  &__author,
  &__date {
    font-size: var(--small-font-size);
  }

  &__text {
    text-align: justify;
    margin-bottom: 1.5rem;
  }

  &__date {
    margin-bottom: 0;
  }
}
